<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.nicholasp.projectindividual">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectIndividual"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".TambahDataDetailKelas"
            android:exported="false" />
        <activity
            android:name=".LihatDetailDetailDetailKelas"
            android:exported="false" />
        <activity
            android:name=".LihatDetailKelas"
            android:exported="false" />
        <activity
            android:name=".TambahDataKelas"
            android:exported="false" />
        <activity
            android:name=".LihatDetailPeserta"
            android:exported="false" />
        <activity
            android:name=".TambahDataPeserta"
            android:exported="false" />
        <activity
            android:name=".TambahDataMateri"
            android:exported="false" />
        <activity
            android:name=".LihatDetailMateri"
            android:exported="false" />
        <activity
            android:name=".LihatDetailDetailKelas"
            android:exported="false" />
        <activity
            android:name=".TambahDataInstruktur"
            android:exported="false" />
        <activity
            android:name=".LihatDetailInstruktur"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>